{% extends 'base.html.twig' %}

{% block title %}Portfolio |
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('style/portfolio.css') }}">
{% endblock %}

{% block script %}
	{{ parent() }}
	<script src="{{ asset('js/portfolio.js') }}"></script>
{% endblock %}

{% block nav %}
	<a href="/">
		Accueil
	</a>
	<a href="/CV">
		Consulter le CV
	</a>
{% endblock %}

{% block body %}

	{% set count = 0 %}
	{% for article in articles %}

		<article class='article-project' id="project-{{ count }}">
			{% if count != 0 %}
				<div class="scroll-up scroll-up-{{ count }}">
					<i class=" fa-solid fa-arrow-up"></i>
				</div>
			{% endif %}
			<div class="project">
				<div class="project-el-1">
					<div>
						<h2>{{article.title}}</h2>
					</div>
					<div>
						<p>{{article.description}}</p>
					</div>
					<div>
						<ul class="techs">
							{% for tech in article.techs %}
								<li>
									{{tech}}
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
				<div class="project-el-4">
					<iframe class="{{article.shape}}" src="{{article.link}}" frameborder="0"></iframe>
				</div>
			</div>
			{% if count != (length - 1) %}
				<div class="scroll-down scroll-down-{{ count }}">
					<i class="fa-solid fa-arrow-down"></i>
				</div>
			{% endif %}

		</article>

		{% set count = count + 1 %}
	{% endfor %}
{% endblock %}
