{% extends 'base.html.twig' %}

{% block title %}Portfolio |
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('style/portfolio.css') }}">
{% endblock %}

{% block script %}
	{{ parent() }}
{% endblock %}

{% block nav %}
	<a href="/">
		Accueil
	</a>
	<a href="/CV">
		Consulter le CV
	</a>
{% endblock %}

{% block body %}

	{% set count = 0 %}
	{% for article in articles %}
		{% set count = count + 1 %}

		<article class='article-project' id="project-{{ count }}">
			<div class="scroll-up">
				<i class=" fa-solid fa-arrow-up"></i>
			</div>
			<div class="project">
				<div class="project-el-1">
					<h2>{{article.title}}</h2>
					<p>{{article.description}}</p>
					<ul class="techs">
						{% for tech in article.techs %}
							<li>
								{{tech}}
							</li>
						{% endfor %}
					</ul>
				</div>
				<div class="project-el-4">
					<iframe src="{{article.link}}" frameborder="0"></iframe>
				</div>
			</div>
			<div class="scroll-down">
				<i class="fa-solid fa-arrow-down"></i>
			</div>
		</article>

	{% endfor %}
{% endblock %}
